  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//paleta de colores

$negro: #010101;
$blanco: #ffffff;
$verde: #a0a081;
$gris: rgb(117, 117, 117);

//fuente

$font: "Roboto", sans-serif;

//extend

p{
     font-family: $font;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     color: $negro;
}
h1{
     @extend p;
     font-weight: 800;
}
h2{
     @extend p;
     font-weight: 700;
}

//animacion

