@use "../partials/variables" as*;

.galeria{
    padding: 40px 30px;
    .cards {
       display: flex;
       gap: 20px;    
       padding: 30px;    
       .card {
            background-color: $blanco;
            border-radius: 15px;
            overflow: hidden; 
            max-width: 450px;
            img{
                margin-top: 10px;
                border-radius: 10px;
                transition: 2s;
                &:hover{
                    transform: scale(2,2);
                }
            }
            .card-body {
               padding: 15px;
            }
        
        }
    }
}